<div class="container courses">

	<% @subjects.each do |s| %>

		<h3><%= s.title %></h3>
		<hr>

		<div class="row">
			<% cnt = 0 %>  
			<% s.courses.each do |c| %>

				<% if cnt == 4 %>  <!-- Add a .row <div> every 4 courses -->

					</div>
					<div class="row">
					<% cnt = 0 %>

				<% end %>

				<div class="col-md-3">
					<%= link_to image_tag("elementary/" + c.title + ".png", title: c.title), c.url %>
					<p><%= c.title %></p>
				</div>
				
				<% cnt += 1 %>
			<% end %> 
		</div>
	<% end %>

</div>
