	<div class="center">
		<img src="2010-sacred-pools-waterfall-maui-catherine-bucanan-8x20.jpg" id="bg"/> 
		<div id="info">
			<a name="why"></a>
			<h3>為什麼要建立Serendipity</h3><br/>
			<p>一切，要從兩年前(2013)的夏天說起。</p><br/>
			<p>十五、六歲的我們經過半年籌畫後，背起行囊，開始在花東地區的志工旅行，為當地孩子們舉辦夏令營練習英文、說故事、學才藝。</p><br/>
			<p>告別之後，我們一直思考，還能做些什麼？</p><br/>
			<p>布爾迪厄(Pierre Bourdieu)的文化再製理論中指出，文化資本是造成社會階層化與社會地位轉換困難的主因。個人透過家庭繼承文化資本，學校教育系統則鞏固了社會階層化。而在花東的志工服務經驗告訴我，所謂的「城鄉差距」不在於硬體設備的好壞，而是缺乏人的引導與資訊的交流、接收。在這個資訊、媒體更加發達且強調觀念的時代，教育資源的分配只會趨向極端，並在世代中繼續循環。另一方面，科技發達的今日，網路成癮一直是項隱憂，但如果我們反向操作，以引導代替禁止、干涉，統整各種網路資源，包括課業學習、專題探索、趨勢介紹，並以我們在各領域所學為同學進行學科解惑或者課外輔導、諮詢，網路不會是學習的巨大阻力，網路是連結人與資訊最方便、快速的方式。這是我們為什麼要建立Serendipity的源起、概念。</p><br/>
			<hr/>
			<a name="what"></a>
			<h3>什麼是Serendipity？</h3><br/>
			<p>Serendipity出自英國作家赫瑞斯．沃普(Horace Walpole)的小說《錫蘭三王子》(The Three Princes of Serendip)。在這個源於波斯神話的故事中，錫蘭國王計畫磨練三位王子，於是讓他們徒步旅行各地，培養對應偶發事務的處理能力；而這三位王子總是能靠著意外和智慧發現一些蛛絲馬跡，進而解決問題。當三位王子歷經磨練、返回家鄉後，他們發明了「serendipity」這個字，以紀念旅程中一切在無預警的情況下所遇到的好運，以及學習到的智慧。</p><br/>
			<p>觀念的流動與思考的力量不容忽視，但往往為我們的成長帶來啟發、思考的，是來自課本、講義之外，各種傳播媒體帶來的資訊，尤其是網路。有過那種不經意打開點開一個網址連結，因此看見一句話、閱讀一篇文章、或者了聆聽一場演講而挖到寶的感覺嗎？也許你開始長期關注這個網站、作者，甚至發現自己喜愛、想要耕耘的領域？認知到有更多樣、豐富的觀點和我們生活、想像之外的其他世界？這就是Serendipity—意外的好運。</p><br/>
			<hr/>
			<a name="how"></a>
			<h3>Serendipity可以做什麼？</h3><br/>
			<p>不管是與一句話、一篇文章、一部電影或一個人的相遇，我們深深感謝學習途中所有的緣分與貴人，也希望能夠將求學途中那些哺育、滋潤我們的知識養料，那些翻轉、影響我們的觀念思維，藉由我們的些許經驗、統整和解惑，陪你走過學習、探索的迷惘和挫折。或許這個網站，沒辦法讓教育達到真正的完全平等；或許這個網站，對你的幫助有限，但至少，這是跨出去的第一步。</p><br/>
			<hr/>
			<a name="who"></a>
			<h3>在Serendipity和誰互動？</h3><br/>
			<p>和你互動、對答的我們，是一群十八歲的哥哥姊姊。緣分讓我們在桃園的武陵高中相聚，作為學習這條路上彼此的同伴。</P><br/>
			<p>身為將前往各自鍾愛的領域深造、探索的準大學生，我們也希望自己可以記得師長最後的祝福與叮嚀，在畢業走出校門那天，「不只要昂首闊步，更應該永遠不要忘記，在這個年紀、在這麼單純的歲月裡頭，你所擁有的、對世界的夢想和對人生的期待……」</p><br/>
			<p>十八歲的我們究竟能為這個社會做些什麼？</p><br/>
			<p>我們還沒有確切的答案。但是這個問題，我們會永遠放在心底。更認真地學習，更努力地分享，而一切就從Serendipity開始。</p><br/>
			<hr/>
			<a name="after"></a>
			<h3>獲得Serendipity之後？</h3><br/>
			<p>而我們更期待的是好運之外，「學習到的智慧」。從「資訊」中爬梳出有價值的「知識」，再以時間和努力修練成「智慧」。這是一條漫漫長路，我們也是行走其中的旅人。</pr><br/>
			<p> Serendipity是一個媒介、一個平台，正如旅行中的地圖指南。我們努力將曾走過的，都一一標註作為指引，但是真正的寶藏並不在上頭，而是留待你、留待我們，一起用好奇心(curiosity)去探索(explore)，不斷地成長、獲得智慧(serendipity)，進而培養為自己，也為別人解決生命裡各種難題的能力(problem solving)！</p><br/>
			<hr/>
			<a name="back"></a>
			<h3>Serendipity的背後？</h3><br/>
			<p>「老師，你們還會回來嗎？」那一年，孩子們睜著天真無邪、卻充滿求知渴望的大眼看著我們，這麼詢問。「我回來了！」現在我們終於可以回答，「但我不是老師，我只是一個『想再為你們做點什麼』的哥哥/姊姊。」</p><br/>
			<p>因為我們深信，「簡單的事做久了，就會變得不簡單；不簡單的事做久了，也變得簡單。」</p><br/>
			<hr/>
		</div>
	</div>