<div class="col-md-9">
  <p style="font-size:24px">標題：<%= @article.title %></p>
  <p style="font-size:24px">作者：<%= @article.author %></p>
  <p style="font-size:24px">內文：<%= @article.content %></p>
</div>
