body {
  padding-top: 70px;
}

.navbar-brand p {
	font-size: 35px;
	color: #4444ff;
}
.navbar-brand p:hover {
	color: #8888ff;
}

/*.navbar {
	background-color: black;
}

.nav {
	margin: 10px 0px 0px 0px;
}

.nav a {
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.container li {
	font-family: 標楷體;
	display: inline;
}

.nav font {
	color: blue;
}

.pull-right {
	margin: 35px 0px 0px 0px;
}*/
