// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#title {
  font-size: 48px;
  text-align: center;
}

#newpost {
  font-size: 30px;
}

.article-info {
  font-size: 18px;
  .group2 {
    text-align: right;
  }
}
